@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
	box-sizing: border-box;
}

body, html {
	min-height: 100%;
}

body {
	font-family: Mukta;
	background-color: black;
	color: antiquewhite;
	text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.home-body {
	background-image: url(../assets/mountain-sky.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.home-main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 2.8rem;
	font-weight: 700;
	color: #F97068;
	margin-top: 60px;
}

.text-input-box {
	opacity: .7;
}

h2 {
	line-height: .8;
	margin-top: 60px;
	font-size: 1.6rem;
	color:whitesmoke;
}

.home-page-form {
	display: grid;
	justify-items: center;
}

.starting-selections {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.selection-title {
	font-size: 1.2rem;
	color:#F97068;
	font-weight: 500;
	text-align: center;
}

.home-select-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 166px;
	height: 166px;
	background-color: #f96f68c9;
	border-radius: 10px;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 6.4rem;
	font-weight: 800;
	text-transform: capitalize;
	color: rgba(245, 245, 245, 0.741);
	text-shadow: none;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.289);
}

/* HIDE RADIO */
[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

  /* IMAGE STYLES */
[type=radio] + div {
	cursor: pointer;
	border: 3px solid rgba(135, 207, 235, 0);
	opacity: .95;
}

[type=radio] + div:hover {
	cursor: pointer;
	opacity: 1;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.536);
}

  /* CHECKED STYLES */
[type=radio]:checked + div {
	color: #F97068;
	background-color: #ffffff;
}

.first-page-button {
	font-family: Mukta;
	font-weight: 600;
	font-size: 1.4rem;
	text-transform: uppercase;
    background-color: rgba(255, 255, 221, 0.522);
    color:rgba(0, 0, 0, 0.728);
    height: 60px; 
    width: 166px; 
    border-radius: 10px;
    margin-top: 30px;
}

.first-page-button:hover{
    background-color:#F97068;
	border-color:#ffd;
    color:#ffd;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.289);
}

.first-page-button:active {
	background-color: rgba(0, 0, 0, 0.146);
	border: 3px solid rgba(0, 0, 0, 0.166);
	color: rgba(255, 248, 220, 0.378);
}